body {
    background-color: rgb(104, 101, 101);
  }

.form-register{
    width: 990px;
    height: 700%;
    background-color: white;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
    display: none;
}

#form-1 {
    display: block; /* Solo la primera sección se muestra inicialmente */
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .form-content{
    flex: 1;/*Formulario ocupa el espacio restante*/
  }

  .form-row {
    margin-bottom: 10px;
  }

  .form-button-comuln{
    columns: 2 150px;
  }

  .form-column{
    height: 55px;
    columns: 2 15px;
    margin-bottom: 5px;
  }

  .image img {
    height: 621px;
    width: 400px; 
    display: block;
  }

  .image{
    margin: 0;
    padding: 0;
  }
  
  .controls {
    width: 85%;
    height:20%;
    background: #e3e6e9;
    padding: 8px 16px;
    border-radius: 6px;
    margin-bottom: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 16px;
    color: white;
    flex-flow: 12;
  }

  div {
    display: block;
    unicode-bidi: isolate;
}

section {
  display: block;
  unicode-bidi: isolate;
}

h4 {
  text-align: center;
  font-size: 22px;
}

.botons {
  margin-top: 50px;
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

 /* 
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}*/

.wizard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 50px auto;
}

.step {
    display: flex;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #DCCFBF; /* Color beige inactivo */
    border-radius: 50%;
    transition: background-color 0.3s;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #DCCFBF; /* Color beige inactivo */
    transition: background-color 0.3s;
}

.step.active .circle {
    background-color: #6B754B; /* Verde cuando está activo */
}

.step.active .line {
    background-color: #6B754B; /* Línea verde cuando está activa */
}
