body {
    background-color: rgb(104, 101, 101);
  }

.form-register{
    width: 990px;
    height: 700%;
    background-color: white;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
    display: none;
}

#form-1 {
    display: block; /* Solo la primera sección se muestra inicialmente */
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .form-content{
    flex: 1;/*Formulario ocupa el espacio restante*/
  }

  .form-row {
    margin-bottom: 10px;
  }

  .form-button-comuln{
    columns: 2 150px;
  }

  .form-column{
    height: 45px;
    columns: 2 10px;
    margin-bottom: 5px;
  }

  .image img {
    height: 621px;
    width: 400px; 
    display: block;
  }

  .image{
    margin: 0;
    padding: 0;
  }
  
  .controls {
    width: 85%;
    height:20%;
    background: #e3e6e9;
    padding: 8px 16px;
    border-radius: 6px;
    margin-bottom: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 16px;
    color: white;
    flex-flow: 12;
  }

  div {
    display: block;
    unicode-bidi: isolate;
}

section {
  display: block;
  unicode-bidi: isolate;
}

h4 {
  text-align: center;
  font-size: 22px;
}

.botons {
  margin-top: 50px;
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

 /* 
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}*/

.wizard {
  display: flex;
  align-items: flex-start; /* Cambiado de center a flex-start */
  justify-content: center;
  width: 400px;
  margin: 50px auto;
}

.step {
  display: flex;
  flex-direction: column; /* Añadido para alinear verticalmente */
  align-items: center;
  margin-right: 20px; /* Añadido para espacio entre pasos */
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #506dac; 
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.line {
  width: 500px;
  height: 2px;
  background-color: #b0b6c4; 
  display: inline-block;
  transition: background-color 0.3s;
}

.step.active .circle {
  background-color: #1f53c5; 
}

.step.active .line {
  background-color: #1f53c5; 
}



.tooltip-container {
  position: absolute;
  display: inline-block;
}

.tooltip-button {
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.tooltip-button:hover {
  background-color: #45a049;
}

.tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: -150%; /* Lo coloca más abajo del botón */
  left: 50%;
  margin-left: -125px; /* Centra el texto */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
  word-wrap: break-word;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
